<!DOCTYPE html>
<html>
  <head>
    <title>Sparkube</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" href="https://youtube.com/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.loadingURL = "<%= image_url('loading.gif') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
